@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tulis Keluhanmu</h1>
    <p>Ketik keluh kesahmu disini. Tidak menjamin masalahmu selesai tapi diri menjadi tenang.</a>.</p>
</div>
